:root {
    --main-color: olive;
    --bg-color:   darkslategray;

    --dark-overlay: rgba(0, 0, 0, .5);

    --hover-color:darkgreen;
    --cold-color: rgb(101, 235, 101);
    --hot-color:  cadetblue;

    --big-wide: 32.75vh;
    --button-size: 8.125vh;
}

* {
    transition:            color 0.1s ease-in;
    transition: background-color 0.1s ease-in;
}

body {
    font-family: monospace;
    font-size: 2vh;
    min-width: none;
    color:            var(--main-color);
    background-color: var(--bg-color);
}
#ui { /* Box of buttons. */
    padding: .8vh;
    max-width: var(--big-wide);
    min-width: var(--big-wide); /* Don't break grid if the window closes in.*/

    outline-color: var(--dark-overlay);
    outline-style: outset;
}
#output { /* Main number display. */
    font-size: 4.5vh;
    background-color: var(--dark-overlay);

    padding: 0 1vh;
    border-radius: 1vh;

    margin-top:    1.0vh;
    margin-bottom: 1.4vh;

    min-width: var(--big-wide);
    max-width: fit-content;
}
#bar { /* Line above output. */
    border-radius: 4vh;
    max-width: 34.5vh;
    min-height: 1vh;
    background-color: var(--hot-color);
}

/* Checkbox for short floats. */
input {
    margin-top: 1.3vh;
    background-color: var(--main-color);
}
label {
    padding: .5vh 0;
}
label:hover {
    user-select: none;
    background-color: var(--dark-overlay);
}
label:active {
    background-color: var(--hover-color);
}

/* Main buttons. */
button {
    font-weight: 600;
    border-radius: 1vh;
    height: var(--button-size);
    width:  var(--button-size);
    padding: 0;
    margin:  0;
    background-color: var(--cold-color);
    border-color:     var(--bg-color);
}
button:disabled,
button:disabled:hover,
button:disabled:active {
    color:            var(--main-color);
    background-color: var(--dark-overlay);
}
button:hover {
    background-color: var(--hover-color);
}
button:active {
    background-color: var(--hot-color);
    transform: translate(.15vh, .15vh);
}
/* Fix dumb visual where buttons get focused if you click then you press a key.*/
button:focus,
input:focus {
    outline: none;
}
